{% extends 'sidepanel-menu.html' %}
{% block side_content %}

    <form method="get" class="filter-form">

        Mieszkanie: {{ form.apartment }}
        {{ form.year }}
        <input type="submit" value="Filtruj" class="button-submit">
    <a type="button" class="button-submit" href="{% url 'parking-card-create' %}">Dodaj nową kartę</a></form></form>
    <div class="table-content">

    <table class="summary-table">
        <tr>
            <th>Numer Mieszkania</th>
            <th>Od</th>
            <th>Liczba miejsc</th>
            <th>Utwórz nową kartę</th>
            <th>Edytuj kartę</th>
        </tr>
    {% for object in object_list %}
            <tr>
                <td>{{ object.apartment.number }}</td>
                <td>{{ object.start_date }}</td>
                <td>{{ object.number_of_cards }}</td>
                <td><a href="{% url 'parking-card-create' object.apartment %}">Utwórz kartę</a></td>
                <td><a href="{% url 'parking-card-edit' object.pk %}">Edytuj kartę</a></td>
            </tr>
    {% endfor %}
    </table>
    </div>

{% endblock %}