<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="table-content">
        Mieszkanie numer: 1
        <table class="summary-table">
            <tr>
                <th>Data</th>
                <th>Opłata eksploatacyjna</th>
                <th>Fundusz remontowy</th>
                <th>CO za m2</th>
                <th>CO</th>
                <th>Stan ZW</th>
                <th>Zużycie ZW</th>
                <th>ZW za m3</th>
                <th>ZW</th>
                <th>Stan CW</th>
                <th>Zużycie CW</th>
                <th>CW za m3</th>
                <th>CW</th>
                <th>Osoby</th>
                <th>Śmieci za osobę</th>
                <th>Śmieci</th>
                <th>Parking SM</th>
                <th>Dopłata CO</th>
                <th>W sumie</th>
            </tr>
             
                 <tr>
                    <td>01-23</td>
                    <td>96,45zł</td>
                    <td>70,73zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>747</td>
                    <td>0</td>
                    <td>14,00zł</td>
                    <td>0,00zł</td>
                    <td>468</td>
                    <td>0</td>
                    <td>58,00zł</td>
                    <td>0,00zł</td>
                    <td>0</td>
                    <td>29,40zł</td>
                    <td>0,00zł</td>
                    <td>0,00</td>
                    <td>0</td>
                    <td>552,98zł</td>
                 </tr>
             
                 <tr>
                    <td>02-23</td>
                    <td>96,45zł</td>
                    <td>70,73zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>747</td>
                    <td>0</td>
                    <td>14,00zł</td>
                    <td>0,00zł</td>
                    <td>468</td>
                    <td>0</td>
                    <td>58,00zł</td>
                    <td>0,00zł</td>
                    <td>0</td>
                    <td>29,40zł</td>
                    <td>0,00zł</td>
                    <td>0,00</td>
                    <td>0</td>
                    <td>552,98zł</td>
                 </tr>
             
                 <tr>
                    <td>03-23</td>
                    <td>96,45zł</td>
                    <td>70,73zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>749</td>
                    <td>2</td>
                    <td>14,00zł</td>
                    <td>28,00zł</td>
                    <td>468</td>
                    <td>0</td>
                    <td>58,00zł</td>
                    <td>0,00zł</td>
                    <td>0</td>
                    <td>29,40zł</td>
                    <td>0,00zł</td>
                    <td>0,00</td>
                    <td>30,72</td>
                    <td>611,70zł</td>
                 </tr>
             
                 <tr>
                    <td>04-23</td>
                    <td>96,45zł</td>
                    <td>96,45zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>749</td>
                    <td>0</td>
                    <td>14,00zł</td>
                    <td>0,00zł</td>
                    <td>468</td>
                    <td>0</td>
                    <td>58,00zł</td>
                    <td>0,00zł</td>
                    <td>0</td>
                    <td>29,40zł</td>
                    <td>0,00zł</td>
                    <td>0,00</td>
                    <td>30,73</td>
                    <td>609,43zł</td>
                 </tr>
             
                 <tr>
                    <td>05-23</td>
                    <td>96,45zł</td>
                    <td>96,45zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>749</td>
                    <td>0</td>
                    <td>14,00zł</td>
                    <td>0,00zł</td>
                    <td>469</td>
                    <td>1</td>
                    <td>58,00zł</td>
                    <td>58,00zł</td>
                    <td>0</td>
                    <td>29,40zł</td>
                    <td>0,00zł</td>
                    <td>0,00</td>
                    <td>0</td>
                    <td>636,70zł</td>
                 </tr>
             
                 <tr>
                    <td>06-23</td>
                    <td>96,45zł</td>
                    <td>96,45zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>752</td>
                    <td>3</td>
                    <td>14,00zł</td>
                    <td>42,00zł</td>
                    <td>470</td>
                    <td>1</td>
                    <td>58,00zł</td>
                    <td>58,00zł</td>
                    <td>0</td>
                    <td>29,40zł</td>
                    <td>0,00zł</td>
                    <td>18,45</td>
                    <td>0</td>
                    <td>697,15zł</td>
                 </tr>
             
                 <tr>
                    <td>07-23</td>
                    <td>96,45zł</td>
                    <td>96,45zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>753</td>
                    <td>1</td>
                    <td>14,00zł</td>
                    <td>14,00zł</td>
                    <td>471</td>
                    <td>1</td>
                    <td>58,00zł</td>
                    <td>58,00zł</td>
                    <td>0</td>
                    <td>29,40zł</td>
                    <td>0,00zł</td>
                    <td>18,45</td>
                    <td>0</td>
                    <td>669,15zł</td>
                 </tr>
             
                 <tr>
                    <td>08-23</td>
                    <td>96,45zł</td>
                    <td>96,45zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>754</td>
                    <td>1</td>
                    <td>14,00zł</td>
                    <td>14,00zł</td>
                    <td>472</td>
                    <td>1</td>
                    <td>58,00zł</td>
                    <td>58,00zł</td>
                    <td>0</td>
                    <td>29,40zł</td>
                    <td>0,00zł</td>
                    <td>18,45</td>
                    <td>0</td>
                    <td>669,15zł</td>
                 </tr>
             
                 <tr>
                    <td>09-23</td>
                    <td>96,45zł</td>
                    <td>96,45zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>755</td>
                    <td>1</td>
                    <td>14,00zł</td>
                    <td>14,00zł</td>
                    <td>472</td>
                    <td>0</td>
                    <td>58,00zł</td>
                    <td>0,00zł</td>
                    <td>0</td>
                    <td>29,40zł</td>
                    <td>0,00zł</td>
                    <td>18,45</td>
                    <td>0</td>
                    <td>611,15zł</td>
                 </tr>
             
                 <tr>
                    <td>10-23</td>
                    <td>96,45zł</td>
                    <td>96,45zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>755</td>
                    <td>0</td>
                    <td>14,00zł</td>
                    <td>0,00zł</td>
                    <td>472</td>
                    <td>0</td>
                    <td>58,00zł</td>
                    <td>0,00zł</td>
                    <td>1</td>
                    <td>29,40zł</td>
                    <td>29,40zł</td>
                    <td>18,45</td>
                    <td>0</td>
                    <td>626,55zł</td>
                 </tr>
             
                 <tr>
                    <td>11-23</td>
                    <td>96,45zł</td>
                    <td>96,45zł</td>
                    <td>6,00zł</td>
                    <td>385,80zł</td>
                    <td>757</td>
                    <td>2</td>
                    <td>14,00zł</td>
                    <td>28,00zł</td>
                    <td>472</td>
                    <td>0</td>
                    <td>58,00zł</td>
                    <td>0,00zł</td>
                    <td>1</td>
                    <td>29,40zł</td>
                    <td>29,40zł</td>
                    <td>18,45</td>
                    <td>0</td>
                    <td>654,55zł</td>
                 </tr>
             
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th colspan="2">Pozostało do zapłaty</th>
                <td>1281,10zł</td>
            </tr>
        </table>
</div>
</body>
</html>
<style>
    @font-face {
        font-family: "DM Sans";
        src: url("management/static/DMSans.ttf");
    }
    @page {
        size: letter landscape;
        margin: 2cm;
    }
    .summary-table {
        table-layout: auto;
        width: 100%;

    }
    .summary-table th {

        width: 100%;
  border: 1px solid #EFF0F6;
  font-family: "DM Sans", 'serif';
  font-weight: 700;
}

.summary-table td {
    margin-left: 3px;
  border: 1px solid #EFF0F6;
  font-family: "DM Sans", 'serif';
  align-items: center;
  color: #1D2433;
}

</style>